* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;

}

nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 40px;
    background-color: rgb(33, 13, 0);

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 26px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 80px 0px;

}

.firstSection>div {
    width: 30%;
}

.leftSection {

    font-size: 2rem;
    margin: 30px 0px;
}

.leftSection .buttons {
    padding: 50px 0;
}

.leftSection .btn {
    border: 2px solid white;
    background-color: rgb(47, 47, 71);
    padding: 12px;
    border-radius: 5px solide red;
    color: rgb(139, 135, 66);
    font-size: 20px;
    cursor: pointer;

}

img {
    cursor: pointer;
justify-content: space-evenly;
    width: 23px;
    position: relative;
    top: 32px;
    left: -100px;
}

.leftSection .btn:hover {
    color: #e74f4f;
}

.rightSection {

    width: 50px;
}

.rightSection img {

    width: 300px;
    margin: -15px 0px;
}

.purple {
    color: rgb(226, 162, 43);
}

.text-gray {
    color: #e74f4f;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: darkgrey;
    cursor: pointer;
}

main hr {
    border: 0;
    height: 1.2px;
    background-color: red;
    margin: 40px 84px;
}

nav ul li a:hover {
    font: 1.4rem;

    background-color: rgb(122, 80, 0);
}

#element {
    color: rgb(67, 209, 11);
}

.SecondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;


}

.SecondSection h1 {
    font-size: 2rem;
}

.SecondSection .box {
    background-color: white;
    width: 76vw;
    height: 2px;
    margin: 56px 0px;
    display: flex;
}

.SecondSection .vertical {
    height: 33px;
    width: 1px;
    background-color: white;
    margin: 0 130px;
}

.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-text {
    position: relative;
    width: 242px;
    top: 0px;


}

.vertical-desc {
    position: relative;
    color: gray;
    width: 222px;
    font-size: 13px;
}

footer {
    background-color: rgb(76, 76, 100);

}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;



}

footer ul li {
    text-decoration: none;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

footer ul li:hover {
    background-color: rgb(122, 0, 0);

}

.footer>div {
    width: 200px;
    color: #1fd400d4;
}

footer .footer-rights {
    text-align: center;
    color: #af9595;
    padding: 12px;


}
</style>
